@import url(http://fonts.googleapis.com/css?family=Rosario|Dancing+Script);

body {
  background: #222 url('../img/diagmonds.png');
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rosario', 'DejaVu Sans', 'Helvetica', sans-serif;
}
header h1, header h2, header h3, header h4, header h5, header h6 {
  color: #ddd;
  text-align: center;
}
@media (min-width: 992px) {
  header {
    margin-top: 20px
  }
}
.links {
  background: #eee;
  border: 1px solid transparent;
  border-top: 4px #aaa solid;
  padding-top: 1px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
#lab-button {
  padding-top: 30px;
  padding-bottom: 30px;
}

